@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0A0A0A;
  color: #F0F0F0;
  font-family: monospace;
}

.border-gold {
  border: 1px solid #FFD700;
}

.hover-gold:hover {
  background-color: #FFD700;
  color: #0A0A0A;
}
